* {
  fill-opacity: 0.85;
  stroke-opacity: 0.5;
}

[@sd > 2M] {
  stroke-width: 0;
}

[@sd < 2M] [@sd > 900k] {
  stroke-width: 1px;
}

[@sd < 900k] {
  stroke-width: 2px;
}

[FireYear<1970] {
  fill: #CBD1CE;
  stroke: #98a09c;
}

[FireYear>=1970][FireYear<2000] {
  fill: #8F9693;
  stroke: #5b6360;
  z-index: 50;
}

[FireYear>=2000] {
  fill: #5F6462;
  stroke: #2b3131;
  z-index: 100;
}

