/* Coolors Exported Palette - coolors.co/6a7173-96a73a-dcedff-94b0da-343f3e */
$snapGray: #6a7173; //rgba(106, 113, 115, 100)
$snapGreen: #96a73a; //rgba(150, 167, 58, 100)
$lightBlue: #dcedff; //rgba(220, 237, 255, 100)
$mediumBlue: #94b0da; //rgba(148, 176, 218, 100)
$darkGray: #343f3e; //rgba(52, 63, 62, 100)

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
  font-size: 18px !important;
  font-family: 'Cardo' !important;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans';
}
	
.map-title {		
position: absolute;		
top: 0; left: 0;		
z-index: 1000;		
background-color: rgba(255, 255, 255, .9);		
margin: 0;		
padding: 1vh;		
font-size: 3vh;		
}