/* Coolors Exported Palette - coolors.co/6a7173-96a73a-dcedff-94b0da-343f3e */
$snapGray: #6a7173; //rgba(106, 113, 115, 100)
$snapGreen: #96a73a; //rgba(150, 167, 58, 100)
$lightBlue: #dcedff; //rgba(220, 237, 255, 100)
$mediumBlue: #94b0da; //rgba(148, 176, 218, 100)
$darkGray: #343f3e; //rgba(52, 63, 62, 100)

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
@import '../node_modules/picnic/src/picnic';

html, body {
  color: $darkGray;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  color: $snapGray;
  font-family: 'Lato', serif;
}

body {
  background: transparent url("/static/absurdidad.png") repeat;
  background-screen-mode: darken;
}

/* Styles common to all maps can be put here. */
.map-title {
  position: absolute;
  top: 0; left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .9);
  margin: 0;
  padding: .5ex;
}

// Needs to be in global scope because the Shepherd
// library writes the DOM outside of the scope of the
// Map component.
.shepherd-content {
  border-radius: 5px !important;
}

.adjust-tour-panel {
  top: 14px !important;
  left: 10px !important;
}

.adjust-for-images {
  max-width: 750px !important;
  max-height: 700px !important;
}

.shepherd-content header {
  h3, a {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
  }
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.shepherd-text p {
  font-weight: 300;
}
.tour-wide {
  color: red !important;
  min-width: 40em !important;
}

tr:nth-child(even) {
  background: transparent;
}
