/*

IMPORTANT: Main global styles only!  Styles specific to a component
or map should be contained within those files, as appropriate.

*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* Coolors Exported Palette - coolors.co/6a7173-96a73a-dcedff-94b0da-343f3e */

$snapGray: #6a7173; //rgba(106, 113, 115, 100)
$snapGreen: #96a73a; //rgba(150, 167, 58, 100)
$lightBlue: #dcedff; //rgba(220, 237, 255, 100)
$mediumBlue: #94b0da; //rgba(148, 176, 218, 100)
$darkGray: #343f3e; //rgba(52, 63, 62, 100)

html, body {
  color: $darkGray;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  color: $snapGray;
  font-family: 'Lato', serif;
  font-weight: bold;
}

body {
  background: transparent url("./assets/grid.png") repeat;
  background-screen-mode: darken;
}

// Needs to be in global scope because the Shepherd
// library writes the DOM outside of the scope of the
// Map component.
h3.shepherd-title {
  color: #fff;
}
.shepherd-text p {
  font-weight: 300;
}
.tour-wide {
  color: red !important;
  min-width: 40em !important;
}
